<!doctype html>
<html>
<head>
	<title>Enter Data</title>
</head>
<body>
	<div class="container">
		<form action="" method="POST">
			{% if search_term %}
				<input type="text" placeholder="Enter the Video you Want to Search For" name="search_term" value="{{ search_term }}" autofocus>
			{% else %}
				<input type="text" placeholder="Enter the Video you Want to Search For" name="search_term" autofocus>
			{% endif %}
			<input type="submit" name="my-form" value="Submit">
		</form>
		<form action="/result" method="POST">
		{% for result in videos %}
			<div class="result">
				<button name="selected_id" value="{{ result.id.videoId }}">{{ result.title }}</button>
			</div>
		{% endfor %}
	</div>
</body>
</html>